@import './scss/variable.scss';

body {
    margin: 0;
    background-color: $base-color;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


a:hover {
    .link-animation {
        width: 100%; height: 2px;
    }
}


.link-animation {
    margin-top: .34rem;
    width: 50%;
    height: 2px;
    background-color: black;
    transition: .5s cubic-bezier(1,0,.05,.81);
}

input {
    outline: none;
}
