@import './variable.scss';
@import './mixin.scss';

@keyframes logo-loading {
    from {
        background-color: $suoh;
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes fadeIn {
    to {
        @include gradient($grad-left, $grad-right);
    }
}
  
@keyframes Refresh {
50% {
    transform: scaleX(1);
    transform-origin: right;
}

50.1% {
    transform-origin: left;
}

to {
    transform-origin: left;
}
}
  