$base-color: #efebe7;

$gray: #d9dfeb;
// EBICHA
$alink-color: #734338;
// SUOH 蘇芳
$suoh: #8E354A;
// SHINBASHI
$shinbashi: #0089A7;
// SYOJYOHI
$debian-span-color: #E83015;
// HASHITA
$angular-span-color: #986DB2;
// UMENEZUMI
$ecma-span-color: #9E7A7A;
// TORINOKO
$input-default-color: #DAC9A6;
// UMEZOME
$line-color: #B5495B;
// TAISYA
$span-hover-color: #A36336;
// ITIGO
$ahover-color: #B5495B;
// RURIKON
$out-color: #0B346E;
// UMEZOME
$from-color: #E9A368;
// KARAKURENAI
$grad-left: #D0104C;
// UMENEZUMI
$grad-right: #9E7A7A;
// ROKUSYOH
$ROKUSYOH: #24936E;
// UMEMURASAKI
$UMEMURASAKI: #A8497A;